* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color:#dfdad5;
  font-family: 'Roboto Mono', monospace;
}

.title{
  text-align: center;
  padding: 1em;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	min-height: 90vh;
}



.grid {
	display: grid;

  width: 30em;
  height: 30em;

	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	margin: 0em 3em;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;


}

.square {
	border: 1px solid #000;
}

.removeBorder{
  border: none;
}

.range-input {
	position: relative;
    width: 100%;
}

.slider{
  cursor: pointer;
}

.grid-length {
	-webkit-appearance: none;
	height: 0.3em;
	width: 100%;
	background: #f2ecec;
	border-radius: 5px;
	outline: none;
	border: none;
}

.grid-length-label{
  text-align: center;
}

.color-picker{
  position: relative;
  cursor: pointer;
}

.color-indicator{
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: #000;
  border-radius: 5px;
  vertical-align: middle;

}

#color-picker{
  display: inline-block;
  vertical-align: middle;
  margin: 2em;
  cursor: pointer;

}

.pick-color{
  display: flex;
  justify-content: center;
  align-items: center;
}



 

.showValue{
    position: absolute;
    text-align: center;
    font-size: 0.9rem;
    height: 2em;
    width: 2em;
    transform: translateX(-70%) scale(0);
    /* font-weight: 500; */
    top: -4em;
    line-height: 2.5em;
    /* z-index: 2; */
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    left: 8%;
  }
  .showValue.show{
    transform: translateX(-70%) scale(1);
  }

  .showValue:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #664AFF;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  .featureButtons{
    display: flex;
  }


  .feature{
    outline-color: transparent;
    border: none;
    padding: 1em 1em;
    background-color: #7097ff;
    border-radius: 10px;
    margin: 0.5em;
    cursor: pointer;
  }

  .feature:hover{
    background-color: #597de0;

  }

  .selected{
    background-color: #63ebff;
  }

  .selected:hover{
    background-color: #4bcee2;
  }


  @media screen and (max-width: 800px) {
   
   .container{
    flex-direction: column;
   }

   .feature{
    padding: 0.5em ;
   }

   .grid {
    display: grid;
    width: 20em;
    height:  20em;
  }

}
