*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid{
    display: grid;
    width: 10em;
    height: 10em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


.square{
    border: 1px solid #000;
}

